<div class="sign_in">
	<% if user_signed_in? %>
		<%= link_to 'Edit Profile', edit_user_registration_path %>
		<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
	<% else %>
		<%= link_to 'Sign up', new_user_registration_path %>
		<%= link_to 'Login', new_user_session_path %>
	<% end %>
</div>

    <h1>TWILIO!!!</h1>

    <%= form_tag('/twilio/send_sms', method: 'POST') do %>
    <input type="text" placeholder="enter number" name="number">
    <input type="text" placeholder="enter message here" name="message">
    <button type="submit">Submit</button>
    <% end %>

<div class= "time-setup">
	<%=form_tag('/moments/time', method: 'POST') do |f| %>
    <input type="time" name="start_time">
    <input type="time" name="end_time">
    <button type="submit">Submit</button>
	<% end %>
 </div>   