 
  <div
    class="parallax-image-wrapper parallax-image-wrapper-100"
    style="background-image:url(<%= asset_path 'fastdark1.jpg' %>)"
    data-anchor-target="#section-moves-fast + .gap"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">
    <div
      class="parallax-image parallax-image-100"
      style="background-image:url(<%= asset_path 'fastdark1.jpg' %>)"
      data-anchor-target="#section-moves-fast + .gap"
      data-bottom-top="transform: translate3d(0px, -80%, 0px);"
      data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    ></div>
  </div>

  <div
    class="parallax-image-wrapper parallax-image-wrapper-100"
    data-anchor-target="#section-distracted + .gap"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">
    <div
      class="parallax-image parallax-image-100"
      style="background-image:url(<%= asset_path 'phonegaze.jpg' %>)"
      data-anchor-target="#section-distracted + .gap"
      data-bottom-top="transform: translate3d(0px, -80%, 0px);"
      data-top-bottom="transform: translate3d(0px, 80%, 400px);"
    ></div>
  </div>

  <div
    class="parallax-image-wrapper parallax-image-wrapper-100"
    data-anchor-target="#section-change-life + .gap"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">
    <div
      class="parallax-image parallax-image-100"
     style="background-image:url(<%= asset_path 'Yo_sky.jpg' %>)"
      data-anchor-target="#section-change-life + .gap"
      data-bottom-top="transform: translate3d(0px, -60%, 0px);"
      data-top-bottom="transform: translate3d(0px, 60%, 0px);"
    ></div>
  </div>

  <%= render 'sign_up' %>

  <div id="skrollr-body">
    <div id="section-moves-fast"></div>
    <div class="gap gap-100" style="background-image:url(<%= asset_path 'fastdark1.jpg' %>);">
      <div class="row">
          <div class="intro col-md-6 col-md-offset-3">
            <h1 class = "jumbo">Life moves fast.</h1>
            <h3>Let us help you take a breath.</h3>
            <br>
            <div class="center-block">
              <a href="#" class="js-sign-in button button-large button-highlight">SIGN UP</a>
            </div>
          </div>
      </div>
    </div>
    <div class="content" id="section-distracted">
      <div class = "box">
        <h2 class ="setup" >We are are always distracted.</h2>
        <h1 class="jumbo">Lost in Screens</h1>
      </div>
    </div>
    <div class="gap gap-100" style="background-image:url(<%= asset_path 'phonegaze.jpg' %>);"></div>
    <div class="content" id="section-change-life">
      <div class = "box">
        <h2 class= "setup">If just <strong>five</strong> times a day you remember to <strong>stop</strong> and take a MOMENT.</h2>
        <h1 class="jumbo">You will change your life.</h1>
      </div>
    </div>
    <div class="gap gap-100" style="background-image:url(<%= asset_path 'Yo_sky.jpg' %>);"></div>
    <div class="content" id="done">
         <div id="row">
           <div class="summary col-md-6 col-md-offset-3">
             <h3>You tell us when you start and end your day.</h3>
             <h3>We send you five random SMS reminders throughout your day to stop and take a moment.</h3>
            <br>
            <a href="#" class="js-sign-in button button-large button-highlight">SIGN UP</a>
         </div>
    </div>
  </div>
